section {
  margin: auto;
  border: 1px solid rgb(255, 255, 255);
  width: 60%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-top: 0px;
  background-color: rgba(0, 26, 128, 0.981);
  border-radius: 25px;
  p {
    margin: 10px;
    margin-bottom: 3px;
    text-align: left;
    color: white;
    font-weight: 600;
  }
  input {
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 600;
  }
  h3 {
    text-align: center;
    font-weight: 600;
    color: white;
  }
  button {
    width: 75px;
    align-self: center;
    margin-top: 30px;
    color: white;
    background-color: rgb(5, 92, 5);
    font-weight: 600;
    border-radius: 15px;
  }
}
