.planet {
  display: grid;
  grid-template-columns: 60px repeat(4, 1fr) 50px;
  text-align: center;
  gap: 1px;
  background-color: #fcfcfc;
}
.planet p {
  background-color: white;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 10px;
}
.planet button {
  background-color: #ff0101;
  border: solid 1px #111111;
  border-radius: 10px;
  color: white;
}