.heading {
  display: grid;
  grid-template-columns: 60px repeat(4, 1fr) 50px;
  text-align: center;
  gap: 1px;
  background-color: rgba(0, 26, 128, 0.981);

  
  p {
    background-color: rgba(0, 26, 128, 0.981);
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 1px;
    font-weight: 600;
    color: white;
  }
}

.table {
  width : 90%;
  margin: auto;
  margin-bottom: 40px;
  margin-top: 40px;
  display: grid;
  gap: 1px;
  font-weight: 600;
  background-color: rgb(211, 211, 211);;
  border: 1px solid rgb(255, 255, 255);
}